{% extends "admin/base.html.twig" %}

{% block main %}

	<table>
		<thead>
			<tr>
				<td>Nom</td>
				<td>Prix</td>
				<td>Stock</td>
				<td>Description</td>
				<td>Catégorie</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ product.name }}</td>
				<td>{{ product.price }}
					€</td>
				<td>{{ product.stock }}</td>
				<td>{{ product.description }}</td>
				<td>{{ product.category.name }}</td>
			</tr>
		</tbody>
	</table>

{% endblock %}
